<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andryyu.rxjavademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicActivity" />
        <activity android:name=".ThreadSwitchActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ZipActivity" />
        <activity android:name=".FlowableActivity" />
        <activity android:name=".rxjava2.GenerateActivity" />
        <activity android:name=".rxjava2.generate.RxCreateActivity" />
        <activity android:name=".rxjava2.generate.RxDeferActivity" />
        <activity android:name=".rxjava2.generate.EmptyNeverThrowActivity" />
        <activity android:name=".rxjava2.generate.RxFromActivity" />
        <activity android:name=".rxjava2.generate.RxIntervalActivity" />
        <activity android:name=".rxjava2.generate.RxJustActivity" />
        <activity android:name=".rxjava2.generate.RxRangeActivity" />
        <activity android:name=".rxjava2.generate.RxRepeatActivity" />
        <activity android:name=".rxjava2.generate.RxTimerActivity" />
        <activity android:name=".rxjava2.TransformActivity" />
        <activity android:name=".rxjava2.transform.RxBufferActivity" />
        <activity android:name=".rxjava2.transform.RxFlatMapActivity" />
        <activity android:name=".rxjava2.transform.RxGroupByActivity" />
        <activity android:name=".rxjava2.transform.RxMapActivity" />
        <activity android:name=".rxjava2.transform.RxScanActivity"/>
        <activity android:name=".rxjava2.transform.RxWindowActivity"/>
    </application>

</manifest>